html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
 
}
body>div {
	height:100%;
}

img {
  margin: 50px auto;
}

h1 {margin:15px;}
p {margin:15px;}

.numpad button {
	width:100px;
	height:100px;
}

.middleblock {
	text-align:center;
}